body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

nav {
  background-color: #f1f1f1;
  padding: 10px 0;
  margin-bottom: 0; /* Remove default margin below nav */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  padding: 10px 20px; /* Add padding to make the links clickable */
}

/* Add a background color to the 'Login' link */
nav ul li a[href="login.html"] {
  background-color: white;
  color: #333; /* Set text color to white for better contrast */
  border-radius: 4px;
}

/* Hover effect for the 'Login' button */
/* nav ul li a[href="login.html"]:hover {
  background-color: white;
} */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw; /* Increase the container width */
  height: 85vh; /* Increase the container height */
  padding: 0;
  margin-top: 10px; /* Decrease distance between nav and container */
}

.form-container {
  /* background-color: white;  */
  padding: 20px;
  /* box-shadow: 0 0 10px; */
  margin-right: 20px;
  border-radius: 8px;
  width: 400px; /* Set form width */
}

.logo img {
  display: block;
  margin: 0 auto 50px;
  width: 80%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-note {
  font-size: 12px;
  color: red;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  background-color: #e98e8b;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

button:hover {
  background-color: #f1f1f1;
}

.button1 {
  padding: 10px 20px;
  background-color: #f1f1f1;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.button1:hover {
  background-color: white;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack vertically on smaller screens */
    padding: 20px;
    height: auto; /* Allow container to adjust height on mobile */
  }
}
