* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  background-color: whitw;
  padding: 20px;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

h1 {
  text-align: center;
  color: #b83a3a;
}

form {
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  width: 45%;
  margin: 10px 2.5%;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

h3 {
  width: 100%;
  margin-top: 20px;
  color: maroon;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.button-group {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.button-group button {
  margin: 30px;
  padding: 15px 30px;
  background-color: #ffe6e6;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-group button:hover {
  background-color: rgb(192, 47, 47);
}

.image-container {
  text-align: center;
  margin-top: 20px;
}

.image-container img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}